[submodule "godot-cpp"]
	path = godot-cpp
	url = https://github.com/godotengine/godot-cpp.git
	branch = 4.4
[submodule "godot"]
	path = godot
	url = https://github.com/Losomz/godot.git
	branch = wechat-4.5
