[submodule "plugin/thirdparty/godot-cpp"]
	path = plugin/thirdparty/godot-cpp
	url = https://github.com/godotengine/godot-cpp.git
	branch = 4.4
[submodule "adapter/thirdparty/godot"]
	path = adapter/thirdparty/godot
	url = https://github.com/godotengine/godot.git
	branch = 4.6
